<div class="row">
  <div class="col-6 col-sm-4">

  </div>

  <div class="col-xl-6 col-sm-4" *ngFor="let statusCard of statusCards">
    <ngx-status-card [type]="statusCard.type"
                      [listeDevices]="test">
      <i [ngClass]="statusCard.iconClass"></i>
    </ngx-status-card>
  </div>
  <div class="col-6 col-sm-4">
  </div>
</div>

<div class="row ">

  <div class=" col-md-6" *ngFor="let item of listeDevices">
    <ngx-temperature [device]="item" ></ngx-temperature>
  </div>

</div>
