<!--<div class="row">-->
<!--  <div class="col-xxl-5">-->
<!--    <div class="row">-->
<!--      &lt;!&ndash;      <div class="col-md-12">&ndash;&gt;-->
<!--      &lt;!&ndash;        <ngx-earning-card></ngx-earning-card>&ndash;&gt;-->
<!--      &lt;!&ndash;      </div>&ndash;&gt;-->
<!--      <div class="col-md-12">-->
<!--        <ngx-test></ngx-test>-->
<!--        <br>-->
<!--        <br>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->

<!--  <div class="col-xxl-7">-->
<!--    <ngx-ecommerce-charts></ngx-ecommerce-charts>-->
<!--  </div>-->
<!--</div>-->

<nb-card>
  <nb-card-header style="background-color: #042c6d; color: #e4bc0c;">
    Streaming de consommation
  </nb-card-header>
  <nb-card-body>
    <ngx-test></ngx-test>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header style="background-color: #042c6d; color: #e4bc0c;">
    Historique graphe
  </nb-card-header>
  <nb-card-body>
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </nb-card-body>
</nb-card>
