<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <img src="../../../../assets/images/logo-02.png" alt="">
  </div>
</div>

<div class="header-container">
  <a (click)="logout()">
    <span title="Deconnexion"> <button class="btn  " style="background-color: #042c6d; color: #e4bc0c;">
      <nb-icon icon="log-out" style="size: 700px"></nb-icon>
    </button>
    </span>
  </a>

</div>
